body, html {
    height: 100%;
}

h1, h3, h6 {
    text-align: center;
    color: black;
}

* {
    box-sizing: border-box;
}

.bg-img {
    background-image: url("../images/pikachu.jpg");
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: -8px;
    height: 120%;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 25%;
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=email], input[type=tel], input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.questions {
    font-size: medium;
}


.btn {
    background-color: orange;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: large;
    margin-top: 30px;
}

.btn:hover {
    opacity: 1;
}

.footer {
    background-color: grey;
} 

h6 {
    padding: -4px;
}

/* footer {
    background-color: rgb(300, 168, 60);
    margin: -8px;
    margin-top: -26px;
} */

footer {
    margin: -8px;
    margin-top: -26px;
    position: relative;
    bottom: 40px;
}